<?xml version="1.0" encoding="UTF-8"?><Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Pages>27</Pages><Words>11303</Words><Characters>15248</Characters><TotalTime>0</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>15488</CharactersWithSpaces><Application>WPS Office_12.1.0.25865_F1E327BC-269C-435d-A152-05C5408002CA</Application></Properties>